body {
  color: color(ink);
  font-size: font-size();
  background: #e55d87;
  background: linear-gradient(to top, #e55d87 , #5fc3e4);
  background-attachment: fixed;
}

/** Tables **/
table {
  width: 100%;
}

th {
  text-align: left;
  border: border();
  padding: spacing(tight);
}

td {
  border: border();
  padding: spacing(tight);
}

.hide {
  display: none !important;
}
