.card {
  display: flex;
  background: rgba(color(white), 0.95);
  padding: spacing(loose);
  flex-direction: column;
  border-radius: border-radius();
  @include vertical-rhythm(loose);

  + .card {
    margin-top: spacing(loose);
  }

  @media (max-width: breakpoint(mobile)) {
    border-radius: 0;
    padding: spacing();
  }
}
