<% include header %>
  <h1><%- title %></h1>

  <p>Add your baby to get started.</p>

  <form action="/create" method="POST">
    <div class="connected-fields">
      <div class="text-field">
        <label class="text-field__label" for="name">Your baby's name</label>
        <input class="text-field__input" type="text" name="name" />
      </div>
      <button type="submit" class="button">Create</button>
    </div>
  </form>
<% include footer %>
