<h2>Status</h2>
<% if (baby.Statuses.length > 0) { %>
  <ul class="list list--type-unordered">
    <% for (var i = 0; i < baby.Statuses.length; i++) { %>
       <li><%= baby.Statuses[i].content %> — <%= moment(baby.Statuses[i].createdAt).fromNow(); %></li>
    <% } %>
  </ul>
<% } else { %>
  <p>No statuses added yet.</p>
<% } %>
